
:root {
  --body-height:355px;
}

#disabled {
  text-align: center;
  height: var(--body-height);
  padding: 1px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#primary_options {
  height:var(--body-height);
  overflow: scroll;
  overflow-x: hidden;
  padding: 1px;
  padding-top: 10px;

  -webkit-transition: box-shadow 0.1s;
  -moz-transition: box-shadow 0.1s;
  -o-transition: box-shadow 0.1s;
  transition: box-shadow 0.1s;
}



.field ,.inside{
  position: relative;
  box-sizing: border-box;
  border: none;
  

  overflow: visible;
}
html[dark_mode^='true'] .field[open] {
  border-left:2px solid #ef7c7c ;
}
.field[close]>summary{
color: var(--body-color);
}
.field[open]>summary{
  color: var(--hover-fieldset-legend-color);
}
summary {
  font-weight: bold;
  color: var(--hover-fieldset-legend-color);
  
  width: fit-content;
  background-color: var(--body-background-color);
}

label {
  position: relative;
}
.inside{
  width:100%;
}
.tooltip {
  position: absolute;
  height: 95%;

  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  margin-left: 1px;
}
.tooltip:hover {
  height: 110%;
}

.option_name_container {
  cursor: default;
}

/* Redirect options */
.redirect_link {
  text-decoration: none;
}
.redirect_off, .redirect_to_subs, .redirect_to_wl {
  display: inline-block;
}

/* Manage history */
#manage_history_container {
  text-align: center;
  height: 20px;
  padding-top: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px groove gray;
}
#manage_history {
  text-align: right;
}



input[type="checkbox"] + label{
  padding-left:20px;
  font-weight: 600;
}
/* dark theme */
  html[dark_mode^='true']  details div:nth-child(even){
  background-color: #1f1f1f;
}
 html[dark_mode^='true'] details div:nth-child(odd){
  
  background-color: #242424;
}



 html[dark_mode^='true'] details  div{
  
  width:100%;
  height:fit-content;
  padding:10px 0px;
  margin:0px;
  position: relative;
  
  
}



html[dark_mode^='true'] input[type='radio']:checked{
  accent-color: #f03737;
  transform:scale(1.2);
}
html[dark_mode^='true'] .field .initial{
  padding:20px 10px;
  list-style-type:none;
  cursor:pointer;
  width:100%;
  background-color: #1c1b1b;
}
html[dark_mode^='true'] .inside .final{
  padding:20px 20px;
  list-style-type:none;
  cursor:pointer;
  width:100%;
}
html[dark_mode^='true'] .inside .final div{
  padding:20px 20px;
}

html[dark_mode^='true'] .field{
    
  border-bottom: 2px solid rgb(195, 145, 145,0.2);
}
html[dark_mode^='true']  .field:first-of-type summary{
  border-top: 2px solid rgb(195, 145, 145,0.2);
    }
    html[dark_mode^='true'] .field[open] .initial{
      background-color:#555;
    }
html[dark_mode^='true'] .field[close] .initial:after{
  content: '▼';
  position: absolute;
  right: 30px;
 color: #ef7c7c;

  transform: scale(0.9);
  transition: all 0.25s ease-in-out;
 
}
html[dark_mode^='true'] .inside[open] .final{
  background-color: #555;
  
}
html[dark_mode^='true']  .inside[close] .final:after{
  content: '▼';
  position: absolute;
  right: 30px;
 color: #ef7c7c;
  transform: scale(0.9);
  transition: all 0.25s ease;
  
}
html[dark_mode^='true'] .field[open] .initial:after{
  
  transform: rotate(-180deg) scale(0.9);
  transition: all 0.25s ease;
  
}
html[dark_mode^='true'] .field .inside[open] .final:after{
  transform: rotate(-180deg) scale(0.9);
  transition: 0.25s transform ease;

}
html[dark_mode^='true'] .field summary:hover{
 background-color: #555;
 transition-duration: 0.2s;
}
html[dark_mode^='true'] input[type='radio']:checked+label{
font-weight: bold;
  
}
/* light theme */
html[dark_mode^='false'] input[type='radio']:checked+label{
  font-weight: bold;
  
}
html[dark_mode^='false'] input[type='radio']:checked{
  accent-color: #6677cc;
  transform:scale(1.2);
  
}
html[dark_mode^="false"] .field[open]{
  border-left:2px solid rgb(21, 55, 226);
}
  html[dark_mode^='false'] details div:nth-child(odd){
    background-color:rgba(122, 142, 244, 0.15);
    color:white;
  margin-bottom: 0px;
  }
   html[dark_mode^='false'] details div:nth-child(even){
    margin-bottom: 0px;
  }
   html[dark_mode^='false'] details div{
    width:100%;
    height:fit-content;
    padding:10px 0px;
    margin:0px;
    
  }
  
  
 
  html[dark_mode^='false'] details summary{
    padding:20px 10px;
    list-style-type: none;
    cursor:pointer;
    width:100%;
  }
  
  html[dark_mode^='false'] .field{
      
    border-bottom: 2px solid rgb(175, 180, 205,0.5);
  }
  html[dark_mode^='false']  .field:first-of-type summary{
    border-top: 2px solid rgb(175, 180, 205,0.5);
      }
  html[dark_mode^='false'] .field[close] .initial:after{
    content: '▼';
    position: absolute;
    right: 30px;
   color: #9099cd;
    transform: scale(0.9);
  }
  
  html[dark_mode^='false']  .inside[close] .final:after{
    content: '▼';
    position: absolute;
    right: 30px;
   color: #9099cd;
    transform: scale(0.9);
  }
  html[dark_mode^='false'] .field[open] .initial:after{
    transform: rotate(-180deg) scale(0.9);
    transition: 0.25s transform ease;
  }
  html[dark_mode^='false'] .field .inside[open] .final:after{
    transform: rotate(-180deg) scale(0.9);
    transition: 0.25s transform ease;
  }
  html[dark_mode^='false'] .field summary:hover{
   background-color: rgb(175, 180, 205,0.5);
   transition-duration: 0.2s;
  }
  html[dark_mode^='false'] .field[open] .initial{
    background-color:rgb(175, 180, 205,0.5);
    
  }
  html[dark_mode^='false'] .inside[open] .final{
    background-color:rgb(175, 180, 205,0.5);
    
  }




input[type="checkbox"] {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
    left:280px;
  }
  
  
  /* To create surface of toggle button */
  input[type="checkbox"]:before {
    content: '';
    position:absolute;
    width: 30px;
    height: 18px;
    display: inline-block;
    
    top:-3px;
    
    border-radius: 18px;
    clear: both;
  }
  
  
  /* Contents before checkbox to create toggle  */
  input[type="checkbox"]:after {
    content: '';
    width:12px;
    height:12px;
    display: block;
    position: absolute;
    left:3px;
   border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  input[type="checkbox"]:before,input[type="checkbox"]:after{
    transform: scale(0.9);
  }
  /* Shift the handle to left on check event */
  input[type="checkbox"]:checked:after {
    left:14px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  /* Background color when toggle button will be active */
  html[dark_mode^='false'] input[type="checkbox"]:checked:before {
    background: #3062e3;
  }
  html[dark_mode^='true'] input[type="checkbox"]:checked:before {
    background: #f03737;
  }
  html[dark_mode^='false'] input[type="checkbox"]:before {
    background:rgb(152, 152, 152);
  }
  html[dark_mode^='true'] input[type="checkbox"]:before {
    background: rgba(196, 195, 195, 0.55);
  }
  
  .radio div{
    display: flex;
  }
  
.radio div input{
  margin:0px 15px 0px 40px;
  height:15px;
  width:15px;

transform: scale(0.7);
}

.radio div input:checked{
  height:15px;
  width:15px;
  transform: rotate(360deg) scale(1.5);
  transition-duration: 0.5s;
}
.radio div input+label{
  font-weight: 600;
}