html[dark_mode^='true system'] {
  --body-color: #c9c9c9;
  --body-background-color: #393939;
  --hover-fieldset-legend-color: #eeeeee;
  --checkbox-color: #208fe4;
  --border-color: #b9b9b9;
}

html[dark_mode^='true'] {
  --body-color: #c9c9c9;
  --body-background-color: #393939;
  --hover-fieldset-legend-color: #eeeeee;
  --checkbox-color: #208fe4;
  --border-color: #b9b9b9;
}

html[dark_mode^='false'] {
  --body-color: #393939;
  --body-background-color: #efefef;
  --hover-fieldset-legend-color: #000000;
  --checkbox-color: #208fe4;
  --border-color: #909090;
}

html[global_enable="true"] #disabled { display: none; }
html[global_enable="false"] #primary_options {
  display: none;
}

body {
  background-color: var(--body-background-color);
}
body * {
  color: var(--body-color);
}


a {
  color: var(--body-color);
}

body {
  min-width: 349px;
  max-width: 350px;
  height: fit-content;
  max-height: 700px;

  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

body, body * {
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
