
html[global_enable="true"] #masthead-ad,
html[global_enable="true"] ytd-mealbar-promo-renderer,

/* Main */
html[global_enable="true"][remove_homepage="true"] ytd-browse[page-subtype="home"],
html[global_enable="true"][remove_sidebar="true"] div#columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html[global_enable="true"][remove_sidebar="true"] div#related > ytd-watch-next-secondary-results-renderer > div#items {
  visibility: hidden;
}
html[global_enable="true"][remove_leftbar="true"] tp-yt-app-drawer[id="guide"],
html[global_enable="true"][remove_leftbar="true"] ytd-mini-guide-renderer,
html[global_enable="true"][remove_leftbar="true"] yt-icon-button[id="guide-button"],
html[global_enable="true"][remove_end_of_video="true"] .html5-endscreen,
/* YOUTUBE_APPS NOTIFICATIONS AND AVATAR */
html[global_enable="true"][remove_youtubeapps="true"] yt-icon-button[class="style-scope ytd-topbar-menu-button-renderer style-default"],
html[global_enable="true"][remove_avatar="true"] button[id="avatar-btn"],
html[global_enable="true"][remove_notification="true"] yt-icon-button[class="style-scope ytd-notification-topbar-button-renderer"],
html[global_enable="true"][remove_top_bar="true"] div#end > div#buttons,

/* Left Bar Navigation */
html[global_enable="true"][remove_home_link="true"] a:not(#logo)[href="/"],
html[global_enable="true"][remove_shorts_link="true"] a[title="Shorts"],
html[global_enable="true"][remove_explore_link="true"] a[href="/feed/trending"],
html[global_enable="true"][remove_shorts_link="true"] ytd-mini-guide-entry-renderer[aria-label="Shorts"],
html[global_enable="true"][remove_explore_link="true"] a[href="/feed/explore"],
html[global_enable="true"][remove_subscriptions_link="true"] a[href="/feed/subscriptions"],
html[global_enable="true"][remove_library_link="true"] a[href="/feed/library"],
html[global_enable="true"][remove_history_link="true"] a[href="/feed/history"],
html[global_enable="true"][remove_yourvideos_link="true"] ytd-guide-entry-renderer > a[href*="studio.youtube.com/channel/"],
html[global_enable="true"][remove_watchlater_link="true"] a[href="/playlist?list=WL"],
html[global_enable="true"][remove_likedvideos_link="true"] a[href="/playlist?list=LL"],
html[global_enable="true"][remove_subscriptions_pane="true"] div[id="sections"]> :nth-child(2),
html[global_enable="true"][remove_explore_pane="true"] div[id="sections"]> :nth-child(3),
html[global_enable="true"][remove_moreFromYT_pane="true"] div[id="sections"]> :nth-child(4),
html[global_enable="true"][remove_footer_pane="true"] div[id="footer"],
html[global_enable="true"][remove_premium_link="true"] a[href="/premium"],
html[global_enable="true"][remove_films_link="true"] a[href="/feed/storefront?bp=ogUCKAI%3D"],
html[global_enable="true"][remove_gaming_link="true"] a[href="/gaming"],
html[global_enable="true"][remove_trending_link="true"] a[href="/feed/trending?bp=6gQJRkVleHBsb3Jl"],
html[global_enable="true"][remove_live_link="true"] a[href="/channel/UC4R8DWoMoI7CAwX8_LjQHig"],
html[global_enable="true"][remove_fashion_link="true"] a[href="/channel/UCrpQ4p1Ql_hG8rKXIKM1MOQ"],
html[global_enable="true"][remove_learning_link="true"] a[href="/channel/UCtFRv9O2AHqOZjjynzrv-xg"],
html[global_enable="true"][remove_sports_link="true"] a[href="/channel/UCEgdi0XIXXZ-qJOFPf4JSKw"],
html[global_enable="true"][remove_creatorStudio_link="true"] a[href="https://studio.youtube.com/"],
html[global_enable="true"][remove_music_link="true"] a[href="https://music.youtube.com/"],
html[global_enable="true"][remove_kids_link="true"] a[href="https://www.youtubekids.com/?source=youtube_web"],
html[global_enable="true"][remove_tv_link="true"] a[href="https://tv.youtube.com/?utm_source=youtube_web&utm_medium=ep&utm_campaign=home&ve=34273"],

/* Homepage */
html[global_enable="true"][remove_infinite_scroll="true"] ytd-rich-grid-renderer > #contents > ytd-continuation-item-renderer,
html[global_enable="true"][remove_all_but_one="true"] ytd-rich-grid-renderer > #contents > ytd-rich-grid-row:nth-child(n+2),
html[global_enable="true"][remove_all_but_one="true"] ytd-rich-grid-renderer > #contents > ytd-continuation-item-renderer,
html[global_enable="true"][remove_extra_rows="true"] ytd-rich-grid-renderer > #contents > ytd-rich-grid-row + ytd-rich-section-renderer,

/* Video Player */
html[global_enable="true"][remove_entire_sidebar="true"] #secondary,
html[global_enable="true"][remove_play_next_button="true"] a.ytp-next-button,
[target-id="engagement-panel-comments-section"],
html[global_enable="true"][remove_chat="true"] #chat,
html[global_enable="true"][remove_info_cards="true"] div#iv-drawer,
html[global_enable="true"][remove_info_cards="true"] button[class="ytp-button ytp-cards-button"] > span[class="ytp-cards-button-icon-default"] > div.ytp-cards-button-icon,
html[global_enable="true"][remove_menu_buttons="true"] #menu,
html[global_enable="true"][remove_embedded_more_videos="true"] div.ytp-pause-overlay,
html[global_enable="true"][remove_videoComments="true"] ytd-comments#comments,

/* Search Results Page */
html[global_enable="true"][on_results_page="true"][remove_extra_results="true"] ytd-shelf-renderer,
html[global_enable="true"][on_results_page="true"][remove_shorts_results="true"] ytd-reel-shelf-renderer,
html[global_enable="true"][remove_thumbnail_mouseover_effect="true"] #mouseover-overlay,

html[global_enable="true"][foo=bar]

{

	display: none !important;
  /**color: red;**/

}

/* Disable Youtube logo's link to the homepage */
html[global_enable="true"][remove_logo_link="true"] #logo[href="/"] {
  pointer-events: none;
}

/* Center contents when the sidebar is entirely hidden */
html[global_enable="true"][remove_entire_sidebar="true"] ytd-watch-flexy[flexy][is-two-columns_]:not([fullscreen]):not([theater]) {
	--ytd-watch-flexy-max-player-width: calc(var(--ytd-watch-flexy-chat-max-height)*var(--ytd-watch-flexy-width-ratio)/var(--ytd-watch-flexy-height-ratio)) !important
}

/* Centers the contents on the homepage and subscriptions page when sidebar is disabled */
html[global_enable="true"][remove_leftbar="true"]
  #page-manager[class="style-scope ytd-app"] {
  margin-left: 0px;
}

/* Maintains the proper arrangement of the contents of watch later and playlist section */
html[global_enable="true"][remove_leftbar="true"] ytd-browse[page-subtype="playlist"]{
  margin-left: 240px;
}

/* Centers the contents on the screen after video comments are removed */

html[global_enable="true"][remove_videoComments="true"] div#columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}